* {
    box-sizing: border-box;
  }

  html, body {
    height: 100vh;
  }

  .height {
    min-height: 100%;
  }

.footer {
    padding-top: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
 }
.containerMain {
    display: "none";
    height: 100vh;
}

.bg-dark2{
    background-color: hsla(0, 0%, 0%, 0.6)
}

.bg-login{
   background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../images/bg/bg-login.jpg');

}

.bg-register{
   background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../images/bg/bg-register.jpg');

}
.bg-manga{
   background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../images/manga2.jpg');

}
.bg-manga2{
   background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../images/manga.jpg');

}
.bg-manga3{
   background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../images/manga3.jpg');

}
.bg-abmproducts{
   background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../images/bg/productosbg.jpg');

}
.bg-abmnoticias{
   background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../images/bg/noticiasanime.png');

}
.bg-users{
   background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../images/bg/users.jpg');

}
.bg-nosotros{
   background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../images/nosotros.png');

}
.bg-pedidos{
   background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../images/bg/pedidos.jpg');

}

.imgHome{
   background-repeat: no-repeat;
    background-size: cover;
    /* background-image:url('../images/bg/bg5.jpg'); */

}
.thisRow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.fullHeight{
    height: 100vh;
}
.deleteRowMargin{
    margin: 0px !important;
}
.container-padding{
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 65px !important;
}
.textBreak{
    word-break:break-all;
}
